<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kotabko</title>

    <link rel="stylesheet" href="~/lib/bootstrap/Style.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Kotabko.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" />
</head>
<body>
    <nav class="navbar fs-4 navbar-expand-lg navbar-light container p-3">
        <div class="container-fluid">
            <a class="navbar-brand fs-5" asp-action="index" asp-controller="Home"><img src="~/imgs/logo.svg" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a class="nav-link mx-2 active" aria-current="page" asp-action="index" asp-controller="Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="#">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" asp-controller="Author" asp-action="Index">Authors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" asp-action="Index" asp-controller="Category">Category</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link mx-2" asp-action="Index" asp-controller="Book">Books</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto d-none d-lg-inline-flex align-items-center">
                    <li class="nav-item mx-2">
                        <span class="count">0</span>
                        <a class="nav-link text-dark h5"   asp-controller="ShoppingCard" asp-action="Index"><img src="~/icons/cart.png" /></a>
                    </li>
                    @{
                        if (User.Identity!.IsAuthenticated)
                        {
                            <li class="nav-item mx-2">
                                <a class="nav-link text-dark h5" href="" target="blank">Log Out</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item mx-2">
                                <a class="nav-link text-dark h5" href="" target="blank">Register</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link text-dark h5" href="" target="blank">Log In</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="my-5 ">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top bg-black text-muted ">
        <div class="container p-5">
            <div class="d-flex align-items-start justify-content-between row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <img src="~/imgs/logo.svg" />
                    <p class="lh-sm fs-5 fw-normal">
                        1418 River Drive, Suite 35 <br />
                        Cottonhall, CA 9622
                    </p>
                    <div class="d-flex mt-1">
                        <img src="~/icons/facebook.png" />
                        <img src="~/icons/instagram.png" />
                        <img src="~/icons/twitter.png" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h3 class="text-white fs-4">Need Help</h3>
                    <h2 class="text-primary fs-2 fw-normal" >+(84) - 1800 - 4635</h2>
                    <p class="lh-sm text-secondary fs-5 fw-normal">
                        Monday – Friday: 9:00-20:00 <br />
                        Saturday: 11:00 – 15:00
                    </p>
                    <h4 class="text-white fs-4">contact@example.com</h4>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12 mt-md-5 mt-lg-0">
                    <h4 class="text-white fs-4">Explore</h4>
                    <h6 class="text-secondary">About Us</h6>
                    <h6 class="text-secondary">SiteMap</h6>
                    <h6 class="text-secondary">BookMarks</h6>
                    <h6 class="text-secondary">Sign in</h6>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12  mt-md-5 mt-lg-0">
                    <h4 class="text-white fs-4">Our Services</h4>
                    <h6 class="text-secondary">Help Center</h6>
                    <h6 class="text-secondary">Returns</h6>
                    <h6 class="text-secondary">Product Recalls</h6>
                    <h6 class="text-secondary">Accessibility</h6>
                    <h6 class="text-secondary">Contact Us</h6>
                    <h6 class="text-secondary">Store Pickup</h6>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12  mt-md-5 mt-lg-0">
                    <h4 class="text-white fs-4">Categories</h4>
                    <h6 class="text-secondary">Action</h6>
                    <h6 class="text-secondary">Comedy</h6>
                    <h6 class="text-secondary">Drama</h6>
                    <h6 class="text-secondary">Horror</h6>
                    <h6 class="text-secondary">Kids</h6>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

<style>
     .count {
        position: absolute;
        vertical-align: text-top;
        padding: 1px 3px;
        border-radius: 5px;
        line-height: 1;
        font-size: 10px;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0;
        color: #fff;
        background-color: red;
        min-width: 14px;
    }
</style>

