<head>
	<link rel='stylesheet' id='bookory-style-css' href='https://demo2.pavothemes.com/bookory/wp-content/themes/bookory/style.css?ver=2.0.5' media='all' />
</head>
<style>
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	padding: 0 !important;
}
</style>
<div class="error404 wp-custom-logo wp-embed-responsive  wvs-behavior-blur  ">
<div id="page" class="hfeed site">
<div class="breadcrumb-wrap"> <div data-elementor-type="wp-post" data-elementor-id="3100" class="elementor elementor-3100">
<section class="elementor-section elementor-top-section elementor-element elementor-element-1ece023 elementor-section-height-min-height elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-items-middle">
<div class="elementor-widget-container">
<div class="bookory-woocommerce-title">Error 404</div><nav class="woocommerce-breadcrumb"><a href="https://demo2.pavothemes.com/bookory">Home</a><i class="bookory-icon-right-arrow"></i>Error 404</nav> </div>
</section>
</div>
</div>
<div id="content" class="site-content" tabindex="-1">
<div >
<div class="woocommerce"></div>
<div id="primary" class="content">
<main id="main" class="site-main" role="main">
<div class="error-404 not-found">
<div class="page-content">
<header class="page-header">
<h1 class="title">404</h1>
<h3 class="sub-title">OOPS! THAT PAGE CAN&#039;T BE FOUND.</h3>
</header>
<div class="error-text">
<span>It looks like nothing was found at this location. You can either go back to the last page or go to homepage.</span>
</div>
<div class="error-btn">
<a href="https://demo2.pavothemes.com/bookory/" class="button-404">
<span class="button-text">Homepage<i class="bookory-icon-angle-right"></i></span>
</a>
</div>
</div>
</div>
</main>
</div>
</div>
</div>
</div> 
<div class="site-search ajax-search">
<a href="#" class="site-search-popup-close">
<svg class="close-icon" xmlns="http://www.w3.org/2000/svg" width="23.691" height="22.723" viewBox="0 0 23.691 22.723"><g transform="translate(-126.154 -143.139)"><line x2="23" y2="22" transform="translate(126.5 143.5)" fill="none" stroke="CurrentColor" stroke-width="1"></line><path d="M0,22,23,0" transform="translate(126.5 143.5)" fill="none" stroke="CurrentColor" stroke-width="1"></path></g></svg>
</a>
</div>
</div>

