@model Category
<div class=" row">
    <div class="col-12 text-info mt-5 ">
        <h2>Delete Category</h2>
    </div>
    <form style="border-style: ridge;">
        <div class="form-group row">
            <div class="col-2 mt-4">
            <label asp-for="Name" class="form-label"></label>
            </div>
            <div class="col-5 mt-4">
                <input asp-for="Name" class="form-control " readonly="readonly">
            </div>
          <div class="mt-4 mb-4">
                <a href="/Category/FinalDelete/@Model.Id" class="btn btn-danger rounded-pill">Delete</a>
                <a asp-action="Index" class="btn btn-success rounded-pill"> Back To List</a>
          </div>
        </div>
    </form>
</div