@*Start Of Landing Page*@
<style>
    .landing-img {
        border-radius: 3rem;
        width: 25rem;
    }
</style>

<div class="container">
    <div class="d-flex gap-5 mx-auto align-items-center justify-content-around">
        <di class="">
            <h1>Top 10 Books To Make <br /> It A Great Year</h1>
            <button class="btn btn-primary" asp-action="" asp-controller="">Shop Now</button>
        </di>
        <div class="Landing">
            <img src="~/imgs/33.jpg" class="landing-img" />
        </div>
    </div>
</div>

@*End Of Landing Page*@