@*Start Of Landing Page*@
<style>
    .landing-img {
        border-radius: 3rem;
        width: 25rem;
    }

    .btn-blue-500:hover{
        background-color:blue
    }
</style>

<div class="container">
    <div class="d-flex gap-5 mx-auto align-items-center justify-content-around">
        <di class="">
            <h1 class="mb-5">Top 10 Books To Make <br /> It A Great Year</h1>
            <a class="btn btn-warning text-white" asp-action="ShopIndex" asp-controller="Shop">Shop Now</a>
        </di>
        <div class="Landing">
            <img src="~/imgs/33.jpg" class="landing-img" />
        </div>
    </div>
</div>

@*End Of Landing Page*@