@model MainBookVM


<style>
    .cover {
        width:8rem;
        height:auto;
        border-radius:1rem   
    }
    
</style>
        <img src="~/imgs/@Model.Image" class ="d-block  cover" />
        <div class="d-flex flex-column justify-content-around gap-2">
            <h5>@Model.Title</h5>
            <div class="d-flex align-items-center gap-1">
            <img src="./Icons/star.png" class="d-block"/>
            <p class="d-block">@Model.Rate</p>
            </div>
            <h5>@Model.Author?.Name</h5>
            <h6>$@Model.Price</h6>
    </div>

