

<style>
    .profile{
        width:4rem;
    }

    .profile-card{
        border: solid 1px #dbdbdb;
        border-radius:2rem;
        padding:1rem 2rem
    }
</style>
<h1 class="mb-5 text-center">What Clients Say</h1>
<div class="d-flex justify-content-around gap-5">
    <div class="d-flex flex-column justify-content-center align-items-center gap-3 profile-card">
       <img src="~/imgs/test_01.png" class="profile"/>
       <p>
            "I would also like to say thank you to all your staff. 
            Wow what great service, I love it! Thanks for the great service. 
            I sent an email after to books arrived to ask about the author. "
       </p>
        <h5>John Doe</h5>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center  gap-3 profile-card">
        <img src="~/imgs/test_02.png" class="profile" />
        <p>
            “This is the best book store! A wide variety. The prices are great, 
            and there is always a sale of some kind going on. 
            You can find just what you are looking for here.”
        </p>
        <h5>Pam Pruitt</h5>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center  gap-3 profile-card">
        <img src="~/imgs/test_03.png" class="profile" />
        <p>
            "Excellent service. The books were wrapped securely and arrived in pristine condition. 
            I sent an email after to books arrived to ask about the author."
        </p>
        <h5>ellie a.</h5>
    </div>
</div>