@model ShopViewModel
<!--right-content-->
@if (Model.books.Count() == 0)
{
    <div class="right-content col-lg-12">
    <div class="alert alert-danger" role="alert">
        There Are No Books Avilable In This Category!
    </div>
    </div>
}

else
{    
    <div class="lift-content-rows row">
        @for (int item = 0; item < Model.books?.Count(); item++)
        {

            <div class="col1 col-lg-4 col-md-4 col-sm-6">
                <partial name="ShowBookVM" model="Model.books[item]"></partial>
                <div class="lin mb-4 mt-1"></div>
            </div>
        }    
    </div>
}

<style>
    .lin {
        border-bottom: 1px solid #E6E6E6
    }
</style>
