@model List<MainBookVM> 
 <!--right-content-->
<div class="right-content col-lg-9 col-md-12 col-sm-12 d-flex">
  <div class="lift-content-rows row">        
    @foreach(var item in Model)
    { 
      <div class="col1 col-lg-4 col-md-4 col-sm-6">
        <partial name="ShowBookVM" model="@item"></partial>
        <div class="lin mb-4 mt-1"></div>
      </div>         
    }       
  </div>
 </div>
 <style>
     .lin{
        border-bottom: 1px solid #E6E6E6
     }
 </style>
