
@{
    ViewData["Title"] = "ShopIndex";

}
<!--HTML-->
<div class="shop_page">

    <section class="shop_section">
        <div class="my-title d-flex">
            <div class="my-main position-relative w-100">
                <div class="d-flex justify-content-between ">

                    <div class="right-part text-uppercase fs-1 fw-bold  "> Shop 

                    </div>

                    <div class="lift-part mt-auto mb-auto ">
                        <a class="text-decoration-none fs-6 fw-light" href="https://demo2.pavothemes.com/bookory">HOME</a>
                        <i class="bookory-icon-right-arrow fs-6 fw-light">
                                SHOP
                            </i>
                    </div>   
                 </div>                    
               
            </div>
        </div>
    </section>
    <section class="content container d-flex">

        <div class="content-row col-12 row">
            <!--right-content-->
            <div class="lift-content col-lg-3  d-flex">
                <div class="right-content-rows row">
                    <div class="genre col-lg-12 ">
                        <div class="genre-content">
                            <span>
                                Genre
                            </span>
                            <ul>

                                <li><a href="#">Animal</a></li>
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Animal</a></li>
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Animal</a></li>
                                <li><a href="#">Animal</a></li>
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Animal</a></li>
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Animal</a></li>
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Animal</a></li>
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Animal</a></li>
                            </ul>

                        </div>
                    </div>

                    <div class="author col-lg-12 ">
                        <div class="author-content">
                            <span>
                                Authors
                            </span>
                            <ul>
                                <li>
                                    <div><a href="#">Ali</a> </div>
                                    <div class="coun">(1) </div>
                                </li>
                                <li>
                                    <div><a href="#">Ali</a> </div>
                                    <div class="coun">(1) </div>
                                 </li>
                                <li>
                                    <div><a href="#">Ali</a> </div>
                                    <div class="coun">(1) </div>
                                </li>
                                <li>
                                    <div><a href="#">Ali</a> </div>
                                    <div class="coun">(1) </div>
                                </li>
                                <li>
                                    <div><a href="#">Ali</a> </div>
                                    <div class="coun">(1) </div>
                                </li>
                                <li>
                                    <div><a href="#">Ali</a> </div>
                                    <div class="coun">(1) </div>
                                 </li>
                                <li>
                                    <div><a href="#">Ali</a> </div>
                                    <div class="coun">(1) </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                    @*<div class="filter col-lg-12 ">
                        <div class="filter-content">
                            <span>
                                Filter By Price
                            </span>
                            <form method="get" action="Filter" class="d-block">

                                <div class="price-slider">

                                    <div class="price-slider-ui ">
                                        <div class="slider-range"></div>
                                        <span tabindex="0" class="span-lift" style="left: 0%;width: 100%"></span>
                                        <span tabindex="0" class="span-right" style="left: 0%"></span>
                                    </div>
                                    <div class="price-slider-value">

                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>*@

                    @*<div class="review col-lg-12 ">
                        <div class="review-content">
                            <span>
                                Review Ratings
                            </span>
                            <ul>
                                <li class="li-rating">
                                    <a href="#">
                                        <span class="star-rating">
                                            <span style="width:100%">
                                                <strong class="rating"> 5 </strong>
                                            </span>
                                        </span>
                                        (7)
                                    </a>
                                </li>

                                <li class="li-rating">
                                    <a href="#">
                                        <span class="star-rating">
                                            <span style="width:80%">
                                                <strong class="rating"> 4 </strong>
                                            </span>
                                        </span>
                                        (23)
                                    </a>
                                </li>

                                <li class="li-rating">
                                    <a href="#">
                                        <span class="star-rating">
                                            <span style="width:60%">
                                                <strong class="rating"> 3 </strong>
                                            </span>
                                        </span>
                                        (4)
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>*@
                    <div class="review col-lg-12 ">
                        <div class="review-content ">
                       <span>
                    Review Ratings
                    </span>
                            <ul>
                                <li>
                                    <div>
                                        <a href="#">
                                            <div class="mt-1justify-content-between align-items-center">

                                                <div class="small-ratings d-flex">
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="coun">(7) </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="#">
                                            <div class="mt-1justify-content-between align-items-center">

                                                <div class="small-ratings">
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="coun">(4) </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="#">
                                            <div class="mt-1justify-content-between align-items-center">

                                                <div class="small-ratings">
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="coun">(4) </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="#">
                                            <div class="mt-1justify-content-between align-items-center">

                                                <div class="small-ratings">
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="coun">(6) </div>
                                </li>
                                
                            </ul>
                            
                    </div>
                    <div class="featured col-lg-12 "></div>

                </div>

            </div>

            <!--lift-content-->
            <div class="right-content col-lg-9 col-md-12 col-sm-12 d-flex">
                <div class="lift-content-rows row">
                    <div class="col1 col-lg-4 col-md-4 col-sm-6"></div>
                    <div class="col2 col-lg-4 col-md-4 col-sm-6"></div>
                    <div class="col3 col-lg-4 col-md-4 col-sm-6"></div>

                </div>
                

            </div>

        </div>
    </section>
    

</div>
<!--Style-->
<style>
    /* Title Section*/
    *{
        box-sizing: border-box;
    }
    
    .shop_section {
        background-color: #f0f0f0;
        padding: 0 30px;
    }

    .my-title {
        min-height: 200px;
        position: relative;
        box-sizing: border-box;
        align-items: center;
        padding: 0 20px;
    }   
    .lift-part {
        box-sizing: border-box;
        font-size: 12px;
        margin-top: auto;
        text-transform: uppercase;
        margin-bottom: auto;
        font-weight: 500;
        
    }
    .lift-part a {
            color: var(--light);
        }

    .lift-part i {        
        color: red;
        margin: auto 15px;        
    }
   
    /* content style*/

    .content {
        margin-top: 60px;
        margin-bottom: 40px;
        outline: none;
        box-sizing: border-box;
    }
    /* lift content style*/
    .lift-content {
        width: 300px;
        float: left;
        margin-bottom: 1.618em;
        scrollbar-width: 17px;
        color: var(--text);
        font-family: var(--e-global-typography-text-font-family);
        font-size: 14px;
        line-height: 1.714;
        font-weight: 300;
        text-rendering: optimizeLegibility;
    }
    /*All Elements in lift side*/
    /* 1-Gerne*/
    .genre-content, .author-content, .filter-content, .review-content, .featured-content {
        padding: 25px 40px 40px;
        border: 1px solid #e6e6e6;
        border-radius: 15px;
        margin-bottom: 30px;
    }

    .genre-content span, .author-content span, .filter-content span, .review-content span, .featured-content span {
            margin-left: -40px;
            margin-right: -40px;
            margin-bottom: 30px;
            padding-bottom: 15px;
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 0;
            border-bottom: 1px solid #e6e6e6;           
            font-size: 16px;
            line-height: 1.5;
            font-weight: 600;                  
            color: #444444;
            display: block;
            font-family: Cairo;
            line-height: 1.23;
    }

    .genre-content ul {
            margin-bottom: 0;
            margin-left: 0;
            list-style: none;
    }

   .genre-content ul li {
       margin-bottom: 1em;
       line-height: 1.41575em;
       list-style: none;
   }

   .genre-content ul li a, .author-content ul li a {
                    color: #444444;
                    text-decoration: none;
                    background-color: #00000000;
                    line-height: 1.41575em;
                    font-family:Sora;
   }

  .genre-content ul li ::before{
     font-family: bookory-icon;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block;
      font-style: normal;
      font-variant: normal;      
      font-weight: 400;
      line-height: 1;
      vertical-align: middle;
      content: "";
      margin-right: 8px;
      margin-top: -2px;  
                                           
                   
   } 
   ul li a:hover {
        color: red;
    }
    /* 2-Author*/
    .author-content ul li div a ::before {
        font-family: bookory-icon;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 1;
        vertical-align: middle;
        content: "";
        margin-right: 8px;
        margin-top: -2px;
    }

    .author-content ul li, .review-content ul li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        margin-top:0px;


    }

    
    .author-content ul li a {
            flex: 1;
            color:#000000;
    }
    li .count {
        color: #999999;
        
    }
    /* 3-Fillter by price*/
    .price-slider{
        color: #000000;
        font-family: var(--e-global-typography-text-font-family);
        font-size: 14px;
        line-height: 1.714;
        font-weight: 300;
        text-rendering: optimizeLegibility;
        border-radius: 1em;
        background: #e5e5e5;
        border: 0;
    }

    .price-slider-ui{
        border-radius: 1em;
        background: #e5e5e5;
        border: 0;
        height: 2px;
        position: relative;
        text-align: left;
        margin-bottom: 25px;
    }

    .slider-range{
        left: 0%;
        width: 100%;
        top: 0;
        height: 100%;
        position: absolute;
        z-index: 1;
        font-size: .7em;
        display: block;
        border: 0;
        border-radius: 1em;
        background-color: #000000;
    }

    .span-lift{
        position: absolute;
        top: auto;
        z-index: 2;
        width: 12px;
        height: 12px;
        border-radius: 1em;
        cursor: ew-resize;
        background-color: #fff;
        box-sizing: border-box;
        margin-top: -5px;
        margin-left: auto;
        opacity: 1;
        border: 2px solid #000000;
        text-align: left;

    }

    .span-right{
        margin-left: -12px;
        position: absolute;
        top: auto;
        z-index: 2;
        width: 12px;
        height: 12px;
        border-radius: 1em;
        cursor: ew-resize;
        background-color: #fff;
        box-sizing: border-box;
        margin-top: -5px;
        margin-left: auto;
        opacity: 1;
        border: 2px solid #000000;
        text-align: left;
    }
    /* 4-Review Rating*/
   
   
     

    .rating-color {
        color: #fbc634 !important;
    }
     

    .small-ratings i {
        color: #cecece;
    }

    .review-stat {
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 2px;
    }
    .li-rating a {
        display: flex;
        align-items: center;
        text-decoration: none !important;
        font-size: 12px;
        font-weight: 600;
        color: #000000;
    }
    .star-rating{
        display: inline-block;
        height: 1em;
        line-height: 1;
        margin-right: 5px;
        overflow: hidden;
        position: relative;   
       
        font-size: 12px;
        width: 6.5em;
        font-family: star;
        font-weight: 400;
    }

    
    .star-rating::before {
        content: "s s s s s";
        opacity: .25;
        float: left;
        top: 0;
        left: 0;
        position: absolute;
        color: #000000;
            font-family: star;
            font-weight: 400;
        
    }

    .star-rating span {
            overflow: hidden;
            float: left;
            top: 0;
            left: 0;
            position: absolute;
            padding-top: 1.5em;
            line-height: 1;
     }
    .star-rating span::before {
    content: "S S S S S";
    top: 0;
    position: absolute;
    left: 0;
    color: #fa8c17;
    }
    .star-rating ul li{
        list-style: none;
    }

    .star-rating strong {
    font-weight: 600;
    line-height: 1;
    }
    .li-rating{
        margin-bottom: 5px;
        list-style: none;
    }

    .li-rating a{
    display: flex;
    align-items: center;
    text-decoration: none!important;
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    }

    /* 5-Featured*/
    /* right content style*/


   
</style>
  
     

    

<!--Scripts-->




