
@{
    ViewData["Title"] = "ShopIndex";

}
<!--HTML-->
<div class="shop_page">

    <section class="shop_section">
        <div class="my-title d-flex">
            <div class="my-main position-relative w-100">
                <div class="d-flex justify-content-between ">

                    <div class="right-part text-uppercase fs-1 fw-bold  "> Shop 

                    </div>

                    <div class="lift-part mt-auto mb-auto ">
                        <a class="text-decoration-none fs-6 fw-light" href="https://demo2.pavothemes.com/bookory">HOME</a>
                        <i class="bookory-icon-right-arrow fs-6 fw-light">
                                SHOP
                            </i>
                    </div>   
                 </div>                    
               
            </div>
        </div>
    </section>
    <section class="content container">
        <div class="content-col col-full">
            <!--right-content-->
            <div class="right-content">

            </div>

            <!--lift-content-->
            <div class="lift-content">

            </div>

        </div>
    </section>
    

</div>
<!--Style-->
<style>
    /* Title Section*/
    .shop_section {
        background-color: #f0f0f0;
        padding: 0 30px;
    }

    .my-title {
        min-height: 200px;
        position: relative;
        box-sizing: border-box;
        align-items: center;
        padding: 0 20px;
    }   
    .lift-part {
        box-sizing: border-box;
        font-size: 12px;
        margin-top: auto;
        text-transform: uppercase;
        margin-bottom: auto;
        font-weight: 500;
        
    }
    .lift-part a {
            color: var(--light);
        }

    .lift-part i {        
        color: red;
        margin: auto 15px;        
    }
    /* End Title Section*/
</style>
  
     

    

<!--Scripts-->
<script>

</script>


