@{
    ViewData["Title"] = "About";
}

<style>
    .profile {
        width: 4rem;
    }

    .profile-card {
        border: solid 1px #dbdbdb;
        border-radius: 2rem;
        padding: 1rem 2rem
    }
</style>

<div class="container m-0">
    <div class=" row">

        <div class="col-lg-12 " style="

   text-align:center;">
            <h1 class="fs-1 mb-5" style="background-color: #f0f0f0;

                 position:absolute; top: 80; left: 0;
                 height:150px;
                 width:100%;
                 font-weight: bold;
                font-size: 38px;
                vertical-align:middle;
                 padding-top:30px;
                  ">
                About Us
            </h1>
        </div>


    </div>
</div>

<div class="container" style="margin-top:200px">
    <div class="row">
        <div col-lg-5></div>
        <div col-lg-2>

            <div style="text-align:center;width:50%;margin:auto;">
                <img src="~/images/About_01_1.png" /><h2 style="font-size: 30px;
              line-height: 38px;
               font-weight:600">
                    We are the premier book retailing chain in the Southeastern United States with more than 260 Book stores in 32 states.
                </h2>
            </div>

        </div>
        <div col-lg-5></div>
    </div>
</div>


<div style="margin-top:100px">
    <img src="~/images/About_04.jpg" />
</div>


<div class="p-5" style=" background-color:#faf5f3;position:absolute;height:auto;left:0;  width:100%">
    <div style="text-align:center"><h1>Our Story</h1></div>
    <div class="container m-5">

        <div class="row">
            <div class="col-3"></div>
            <div class="col-3">
                <div class="m-4"><h6 class="mb-3 fw-bold">RETAIL STORES</h6><p class="text-secondary">Mauris tempus erat laoreet turpis lobortis, eu tincidunt erat fermentum. Aliquam non tincidunt urna. Integer tincidunt nec nisl vitae ullamcorper. Proin sed ultrices erat.</p> </div>
                <div class="m-4"><h6 class="mb-3 fw-bold">E-COMMERCE AND INTERNET SERVICES</h6><p class="text-secondary">Pellentesque sodales augue eget ultricies ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sagittis ultrices condimentum.</p> </div>

            </div>

            <div class="col-3">
                <div class="m-4"><h6 class="mb-3 fw-bold">WHOLESALE DISTRIBUTION</h6><p class="text-secondary">Praesent varius ultrices massa at faucibus. Aenean dignissim, orci sed faucibus pharetra, dui mi dignissim tortor, sit amet condimentum mi ligula sit amet augue.</p> </div>
                <div class="m-4"><h6 class="mb-3 fw-bold">RETAIL STORES</h6><p class="text-secondary">Mauris tempus erat laoreet turpis lobortis, eu tincidunt erat fermentum. Aliquam non tincidunt urna. Integer tincidunt nec nisl vitae ullamcorper. Proin sed ultrices erat.</p> </div>

            </div>

            <div class="col-3"></div>
        </div>
    </div>

    <div style="display:flex;justify-content:space-around">

        <div><img src="~/images/About_03.png" /></div>

        <div><img src="~/images/About_02.png" /></div>

    </div>
</div>


<div style="margin-top:1100px">
    <h1 class="mb-5 text-center">What Clients Say</h1>
    <div class="d-flex justify-content-around gap-5">
        <div class="d-flex flex-column justify-content-center align-items-center gap-3 profile-card">
            <img src="~/imgs/test_01.png" class="profile" />
            <p>
                "I would also like to say thank you to all your staff.
                Wow what great service, I love it! Thanks for the great service.
                I sent an email after to books arrived to ask about the author. "
            </p>
            <h5>John Doe</h5>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center  gap-3 profile-card">
            <img src="~/imgs/test_02.png" class="profile" />
            <p>
                “This is the best book store! A wide variety. The prices are great,
                and there is always a sale of some kind going on.
                You can find just what you are looking for here.”
            </p>
            <h5>Pam Pruitt</h5>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center  gap-3 profile-card">
            <img src="~/imgs/test_03.png" class="profile" />
            <p>
                "Excellent service. The books were wrapped securely and arrived in pristine condition.
                I sent an email after to books arrived to ask about the author."
            </p>
            <h5>ellie a.</h5>
        </div>
    </div>

</div>